<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body class='container'>

  <ul class="top-bar">
    <li><a id='home' href="/">Home</a></li>
    <% if session[:user_id] %>
    <li><a id='logout' href="/logout">logout</a></li>
    <li><a class='create' href="/create_post">create a post</a></li>
    <li><a href="/user/<%= session[:user_id] %>">posts by <%= session[:user_name] %></a></li>
    <% else %>
    <li><a id='home' href="/login">login</a></li>
    <li><a class='create' href="/create_user">create account</a></li>
    <% end %>
    <li><a href="/posts">all posts archive</a></li>

  </ul>

  <div class='right-outer'>
    <h3 class='title'>Tags:</h3>
    <ul class="right-sidebar tag-list">
      <% Tag.all.each do |tag| %>
      <li><a href="/tag/<%= tag.name %>"><%= tag.name %></a></li>
      <% end %>
    </ul>
  </div>
  <br><br>
  <%= yield %>
</body>
</html>
