<!-- this shows the home page of a single post -->

<h3 class='med-title'><%= @post.title %></h1>
<h5 class='small-title '>by <a class='author-link' href="/user/<%= @post.user_id %>"><%= @user_name %></a></h5>
<div class='post-text'><%= @post.body %></div>

<ul class='top-bar'>
  <% @tags.each do |tag| %>
  <li><a href="/tag/<%= tag.name %>"><%= tag.name %></a></li>
<% end %>
</ul>
<% if session[:user] %>
  <% if session[:user].posts.find_by_title(@post.title) == @post %>
    <p><a class='edit-delete' href="/edit_post/<%= @post.id %>"><button>edit this post</button></a></p>

    <a class='edit-delete' href="/posts/<%= @post.id %>/delete"><button>Delete this post</button></a>
  <% end %>
<% end %>
